In [1]:
import time
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('high_rank_data.csv')
df.head()

,Unnamed: 0,game_duration,game_ended_in_surrender,game_ended_in_early_surrender,blue_side_won,total_blue_side_minions_killed,total_blue_side_kills,total_blue_side_deaths,total_blue_side_assists,total_blue_side_gold_earned,...,total_red_side_gold_spent,total_red_side_ward_takedowns,total_red_side_wards_placed,total_red_side_vision_score,total_red_side_towers_taken,total_red_side_inhibitors_destroyed,total_red_side_dragons_killed,total_red_side_horde,total_red_side_baron,total_red_side_riftHerald
0,0,1241,True,False,True,631,30,11,46,46043,...,33775,14,38,100,2,0,2,0,0,0
1,0,1315,False,False,False,644,11,31,14,37085,...,46350,14,57,131,10,1,3,6,1,1
2,0,1773,False,False,False,793,21,24,46,55303,...,52050,27,75,161,8,1,1,0,1,0
3,0,2045,False,False,False,997,39,41,57,72410,...,66100,32,87,195,9,2,2,4,0,0
4,0,1371,True,False,False,687,11,23,13,38993,...,43490,28,38,138,5,0,3,0,1,0

In [4]:
df=df.drop(['Unnamed: 0'], axis=1)

In [5]:
df

,game_duration,game_ended_in_surrender,game_ended_in_early_surrender,blue_side_won,total_blue_side_minions_killed,total_blue_side_kills,total_blue_side_deaths,total_blue_side_assists,total_blue_side_gold_earned,total_blue_side_gold_spent,...,total_red_side_gold_spent,total_red_side_ward_takedowns,total_red_side_wards_placed,total_red_side_vision_score,total_red_side_towers_taken,total_red_side_inhibitors_destroyed,total_red_side_dragons_killed,total_red_side_horde,total_red_side_baron,total_red_side_riftHerald
0,1241,True,False,True,631,30,11,46,46043,40400,...,33775,14,38,100,2,0,2,0,0,0
1,1315,False,False,False,644,11,31,14,37085,35750,...,46350,14,57,131,10,1,3,6,1,1
2,1773,False,False,False,793,21,24,46,55303,53775,...,52050,27,75,161,8,1,1,0,1,0
3,2045,False,False,False,997,39,41,57,72410,66660,...,66100,32,87,195,9,2,2,4,0,0
4,1371,True,False,False,687,11,23,13,38993,37375,...,43490,28,38,138,5,0,3,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1414,1756,False,False,False,872,26,24,52,56249,52570,...,49800,32,75,176,9,1,0,4,1,1
1415,1873,True,False,False,937,24,35,52,59001,54775,...,58900,36,80,210,9,1,2,5,1,0
1416,1771,False,False,False,886,34,36,57,61505,60275,...,60450,31,59,152,8,1,2,4,2,1
1417,943,True,False,True,555,23,7,29,37665,35750,...,22450,9,39,72,0,0,0,0,0,0
1418,1651,False,False,False,784,16,22,23,47370,47000,...,48225,32,68,166,9,2,4,1,1,0

In [6]:
df.describe()

,game_duration,total_blue_side_minions_killed,total_blue_side_kills,total_blue_side_deaths,total_blue_side_assists,total_blue_side_gold_earned,total_blue_side_gold_spent,total_blue_side_wards_killed,total_blue_side_wards_placed,total_blue_side_vision_score,...,total_red_side_gold_spent,total_red_side_ward_takedowns,total_red_side_wards_placed,total_red_side_vision_score,total_red_side_towers_taken,total_red_side_inhibitors_destroyed,total_red_side_dragons_killed,total_red_side_horde,total_red_side_baron,total_red_side_riftHerald
count,1419.000000,1419.000000,1419.00000,1419.000000,1419.000000,1419.000000,1419.000000,1419.000000,1419.000000,1419.000000,...,1419.000000,1419.000000,1419.000000,1419.000000,1419.000000,1419.000000,1419.000000,1419.000000,1419.000000,1419.000000
mean,1533.530655,760.467230,24.97463,25.342495,40.197322,52070.638478,47771.170543,21.739253,63.773784,150.690627,...,48081.349542,22.050035,64.023961,152.624383,5.328400,0.675828,1.909091,2.086681,0.496829,0.370684
std,362.780880,184.430506,10.77606,10.939878,21.043356,14378.494548,13493.015047,11.518781,22.333136,55.937145,...,13497.146248,11.421883,22.420132,56.620970,3.459718,0.986825,1.260016,2.057073,0.644350,0.483158
min,101.000000,0.000000,0.00000,0.000000,0.000000,2500.000000,1950.000000,0.000000,0.000000,0.000000,...,1950.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1335.500000,647.000000,17.00000,18.000000,24.000000,42503.000000,39375.000000,13.000000,48.500000,113.000000,...,39552.500000,14.000000,48.000000,114.000000,2.000000,0.000000,1.000000,0.000000,0.000000,0.000000
50%,1551.000000,762.000000,25.00000,25.000000,39.000000,53374.000000,48908.000000,21.000000,63.000000,151.000000,...,48975.000000,21.000000,63.000000,151.000000,5.000000,0.000000,2.000000,2.000000,0.000000,0.000000
75%,1771.500000,881.000000,33.00000,33.000000,55.000000,62065.000000,57011.500000,29.000000,77.000000,186.000000,...,57286.500000,29.000000,77.000000,188.000000,9.000000,1.000000,3.000000,3.000000,1.000000,1.000000
max,2612.000000,1285.000000,64.00000,62.000000,117.000000,89433.000000,83245.000000,77.000000,143.000000,367.000000,...,87023.000000,78.000000,155.000000,399.000000,11.000000,7.000000,5.000000,6.000000,3.000000,1.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1419 entries, 0 to 1418
Data columns (total 34 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   game_duration                         1419 non-null   int64
 1   game_ended_in_surrender               1419 non-null   bool
 2   game_ended_in_early_surrender         1419 non-null   bool
 3   blue_side_won                         1419 non-null   bool
 4   total_blue_side_minions_killed        1419 non-null   int64
 5   total_blue_side_kills                 1419 non-null   int64
 6   total_blue_side_deaths                1419 non-null   int64
 7   total_blue_side_assists               1419 non-null   int64
 8   total_blue_side_gold_earned           1419 non-null   int64
 9   total_blue_side_gold_spent            1419 non-null   int64
 10  total_blue_side_wards_killed          1419 non-null   int64
 11  total_blue_side_wards_placed          1419 non-null   int64
 12  total_blue_side_vision_score          1419 non-null   int64
 13  total_blue_side_towers_taken          1419 non-null   int64
 14  total_blue_side_inhibitors_destroyed  1419 non-null   int64
 15  total_blue_side_dragons_killed        1419 non-null   int64
 16  total_blue_side_horde                 1419 non-null   int64
 17  total_blue_side_baron                 1419 non-null   int64
 18  total_blue_side_riftHerald            1419 non-null   int64
 19  total_red_side_minions_killed         1419 non-null   int64
 20  total_red_side_kills                  1419 non-null   int64
 21  total_red_side_deaths                 1419 non-null   int64
 22  total_red_side_assists                1419 non-null   int64
 23  total_red_side_gold_earned            1419 non-null   int64
 24  total_red_side_gold_spent             1419 non-null   int64
 25  total_red_side_ward_takedowns         1419 non-null   int64
 26  total_red_side_wards_placed           1419 non-null   int64
 27  total_red_side_vision_score           1419 non-null   int64
 28  total_red_side_towers_taken           1419 non-null   int64
 29  total_red_side_inhibitors_destroyed   1419 non-null   int64
 30  total_red_side_dragons_killed         1419 non-null   int64
 31  total_red_side_horde                  1419 non-null   int64
 32  total_red_side_baron                  1419 non-null   int64
 33  total_red_side_riftHerald             1419 non-null   int64
dtypes: bool(3), int64(31)
memory usage: 348.0 KB

In [9]:
df.shape

(1419, 34)

In [11]:
corr = df.corr()
corr['blue_side_won'].sort_values(ascending=False)

blue_side_won                           1.000000
total_blue_side_towers_taken            0.738402
total_blue_side_inhibitors_destroyed    0.622465
total_blue_side_kills                   0.551711
total_red_side_deaths                   0.550430
total_blue_side_assists                 0.526765
total_blue_side_baron                   0.520069
total_blue_side_dragons_killed          0.510824
total_blue_side_gold_earned             0.341561
total_blue_side_riftHerald              0.296871
total_blue_side_gold_spent              0.219696
total_blue_side_minions_killed          0.176002
total_blue_side_vision_score            0.175566
total_blue_side_horde                   0.144758
total_blue_side_wards_killed            0.133842
total_blue_side_wards_placed            0.100465
game_duration                           0.031185
game_ended_in_early_surrender          -0.004488
total_red_side_wards_placed            -0.010090
game_ended_in_surrender                -0.051633
total_red_side_ward_takedowns          -0.052391
total_red_side_minions_killed          -0.094140
total_red_side_vision_score            -0.096700
total_red_side_horde                   -0.147503
total_red_side_gold_spent              -0.171794
total_red_side_gold_earned             -0.287642
total_red_side_riftHerald              -0.302087
total_red_side_dragons_killed          -0.464856
total_red_side_baron                   -0.475959
total_red_side_assists                 -0.491831
total_blue_side_deaths                 -0.540993
total_red_side_kills                   -0.542691
total_red_side_inhibitors_destroyed    -0.579459
total_red_side_towers_taken            -0.710753
Name: blue_side_won, dtype: float64